$balck: #000;
$white: #fff;

body {
    background: $balck;
    color: $white;
    font-size: 16px;
    .div {
        i {
            display: block;
            width: 117px;
            height: 38px;
            background: url("../images/logo.png");
        }
        margin: 100px auto;
        width: 200px;
        background: #ff0;
        color: $balck;
        border-radius: 18px;
        p {

            line-height: 160%;
            background: #0ff;
            font-size: 55px;
        }
    }
}